.post-container {
  margin: 20px 0;
}

.post-container h2 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
}

.post-contents {
  padding: 20px;
  border-radius: 20px;
  margin: 10px auto;
  border: 1px solid rgb(194, 194, 194);
  width: 800px;
  cursor: pointer;
}

.post-contents:hover {
  box-shadow: var(--shadow);
}

.post-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  text-align: center;
  align-items: center;
}

.post-header span {
  color: gray;
}

.post-contents p {
  margin: 10px 0;
}
