<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Classroom | {{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'resets.css' %}" />
    <link rel="stylesheet" href="{% static 'nav.css' %}" />
  </head>
  <body>
    <nav>
      <a href="#" class="nav-title">Rooms</a>
      <div class="nav-items">
        <a href="#">Missing</a>
        <a href="#">Todo</a>
        <a href="#">Done</a>
        <a href="#">Login</a>
        <a href="#">Register</a>
      </div>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
