<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Classroom | {{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'resets.css' %}" />
    <link rel="stylesheet" href="{% static 'nav.css' %}" />
    <link rel="stylesheet" href="{% static 'forms.css' %}" />
    <link rel="stylesheet" href="{% static 'card.css' %}" />
  </head>
  <body>
    <nav class="top-nav">
      <div class="title-container">
        <div onclick="sideNavigationBar('side-nav')">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <a href="{% url 'home' %}" class="nav-title">Rooms</a>
      </div>
      <div class="nav-items">
        {% if not request.user.is_authenticated%}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
        {% endif %}
        <a href="{% url 'logout' %}">Logout</a>
      </div>
    </nav>
    <nav class="side-nav" id="side-nav">
      <div>
        <a href="{% url 'missing' %}">Missing</a>
        <a href="{% url 'todo' %}">Todo</a>
        <a href="{% url 'done' %}">Done</a>
        <a href="{% url 'create-room' %}">Create room</a>
      </div>
    </nav>
    <div class="container">{% block content %} {% endblock %}</div>
    <script src="{% static 'js/someFunctions.js' %}"></script>
  </body>
</html>
